<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.datasource">jdbc/dbppDataSource</property>
    <property name="show_sql">true</property>
    <mapping class="com.hp.dbpowerpack.entities.User"/>
    <mapping class="com.hp.dbpowerpack.entities.DBConfigDetails"/>
    <mapping class="com.hp.dbpowerpack.entities.NamingConvention"/>
  </session-factory>
</hibernate-configuration>
